body {
    background-color: teal;
    margin: 0;
    padding: 0;
}

header {
    background: white;
    border: 2px solid #cccccc;
}

h1 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Name {
    background-color: teal;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 80%;
    text-align: center;
}

section {
    background-color: #ffffff;
    width: 960px;
    height: 410px;
}

footer {
    position: absolute;
    right: 0;
    bottom:0;
    left: 0;
    padding: 8px;
    background-color: #666666;
    text-align: center;
}